*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
section{
    background-color: gray;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 90%;
    max-width: 400px;
    background-color:rgba(15, 31, 15, 0.342);
    border-radius: 8px;
    overflow: hidden;
}
.display{
    background-color: honeydew;
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
}
.display-1{
    opacity: .6;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
}
.temp-result{
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 10;
}
.all-buttons{
    color: whitesmoke;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button{
    border: rgb(212, 203, 218) solid 1px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}
.button:hover{
    background-color: slategray;
}
.btn-0{
    grid-column: 1/3;
}